body {
  background:#f3f3f3;
}
.row{margin:0;padding:0;}


.title-container {
  height: 90vh;
  background: url("./components/img/background.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-shadow: 2px 2px 4px black;
  
}
.form-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  
}

a {
  color: #e74c3c !important;
}

button:hover {
  cursor:pointer;
}
button:focus {
  background-color: #e74c3c;
  cursor:pointer;
}

.App {
  text-align: center;
}

.App-header {
  position:sticky;
  top:0;
  z-index: 9999;
  background-color: #47535f;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 130px;
  color: white;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: flex-start;
  align-items:center;
  margin-left: 30px;
}
  

.logo{
  width:130px;
  height:130px;
  
}
.App-title {
  font-size: 1.5em;
  
}

.recipe_buttons {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.recipes__box {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.recipe__text {
  margin-left: 15px;
}

.recipes__title {
  color: #e74c3c;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.recipes__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  letter-spacing: 1px;
  width: 60%;
  text-align:center;
}

.form__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

input[type="text"] { 
  outline: none;
  font-size: 1.2rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

/******** RECIPE.js ********/

.active-recipe {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content: flex-start;
  align-items:center;
  margin:30px;
}

.active-recipe__img {
  max-width: 60%;
}

.active-recipe__title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.active-recipe__publisher, .active-recipe__website {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.active-recipe__publisher span {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
}

.active-recipe__website span {
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #e74c3c;
}

.active-recipe__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}